<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email da Prefeitura de Bom Destino</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
     <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
                <td align="center" bgcolor="#ffffff" style="padding: 40px 0 30px 0;">
                    <img src="https://api-consumer-emails-tcc.herokuapp.com/images/email.png" alt="Email da Prefeitura de Bom Destino" width="300" height="230" style="display: block;" />
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                     <tr>
                      <td style="color: #4c69d3; font-family: Arial, sans-serif; font-size: 20px; text-align: center; text-align: center;">
                       Informe da Prefeitura de Bom Destino:
                      </td>
                     </tr>
                     <tr>
                      <td style="padding:20px; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;text-align: center;">
                        <span th:text="${message}"></span>
                      </td>
                      </tr>
                      <tr>
                      <td width="100%" style="padding:20px; color: #2285ac;text-decoration: none; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;text-align: center;width: 100%;">
                        <a style="text-decoration: none;color: #2285ac;" th:href="@{//frontend-projetos-tcc.herokuapp.com/admin/projetos/timeline/{projeto}}" target="_blank">Clique aqui para visualizar</a></span>
                      </td>
                     </tr>
                     <tr>
                      <td style="color: #898484; font-family: Arial, sans-serif; font-size: 14px;text-align: center;">
                       Prefeitura de Bom Destino sempre prezando pelo bem estar da população
                      </td>
                     </tr>
                    </table>
                   </td>
            </tr>
            <tr>
                <td bgcolor="#666" style="padding: 30px 30px 30px 30px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                         <td style="text-align:center;color: #ffffff; font-family: Arial, sans-serif; font-size: 16px;" width="75%">
                            Desenvolvido por Erik Cavalcanti e Rafael Ferreira
                         </td>
                        
                        </tr>
                       </table>
                   </td>

                   
            </tr>
           </table>
      </td>
     </tr>
    </table>
   </body>



</html>